* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
.flex-mother {
  position: relative;
  padding: 80px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
text {
  width: 100%;
}
.text h1 {
  margin-left: 100px;
  line-height: 50px;
  font-size: 40px;
  width: 60%;
  margin-bottom: 20px;
}
.text p {
  margin-left: 100px;
  line-height: 30px;
  font-size: 20px;
  width: 50%;
}
.why {
  display: flex;
  justify-content: center;
  align-items: center;
}
.box-flex {
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.box1 {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  text-align: center;
  align-items: center;
  background-color: #0802a3;
  width: 300px;
  height: 300px;
}
.box2 {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  text-align: center;
  align-items: center;
  background-color: #ff7676;
  width: 300px;
  height: 300px;
}
.box3 {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #FF4B91;
  text-align: center;
  align-items: center;
  width: 300px;
  height: 300px;
}
.box4 {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #FFCD4B;
  text-align: center;
  align-items: center; 
  width: 300px;
  height: 300px;
}
.box1 p{
  width: 200px;
  color: white;
  font-size: 18px;
  line-height: 25px;
}
.box2 p{
  width: 230px;
  color: white;
  font-size: 18px;
  line-height: 25px;
}
.box3 p{
  width: 210px;
  color: white;
  font-size: 18px;
  line-height: 25px;
}
.box4 p{
  width: 210px;
  color: white;
  font-size: 18px;
  line-height: 25px;
}

.box1 img {
  margin-bottom: 20px;
}
.box2 img {
  margin-bottom: 20px;
}
.box3 img {
  margin-bottom: 20px;
}
.box4 img {
  margin-bottom: 23px;
}
.teach {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}