* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
.flexall {
  display: flex;
  padding: 20px;
  padding-left: 300px;
  padding-right: 200px;
  justify-content: space-between;
  align-items: center;
}
.spa {
  color: red;
}
.err {
  color: red;
  height: 22px;
}
.check {
  margin-top: 70px;
}
.card {
  display: flex;
  flex-direction: column;
}
.formheading {
  margin-bottom: 5px;
}
.formcard {
  border-radius: 10px;
  gap: 10px;
  background-color: white;
  box-shadow: -1px -1px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -1px -1px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px -1px 5px 0px rgba(0, 0, 0, 0.75);
  padding: 40px;
  width: 480px;
  height: 600px;
  margin-bottom: 70px;
}
form label {
  display: flex;
  flex-direction: column;
}
.inpu {
  outline: none;
  border: 1px solid #0802a3;
  width: 400px;
  height: 50px;
}
.btnz {
  cursor: pointer;
  background-color: #0802a3;
  color: white;
  padding: 15px;
  border: none;
  border-radius: 8px;
  font-weight: 800;
  margin-top: 30px;
  width: 400px;
  height: 50px;
}
.back {
  background-color: black;
}
.back img {
  width: 100%;
  height: 60px;
}
.last {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  font-weight: 200;
  font-size: 12px;
  color: white;
  text-align: center;
  background-color: #0802a3;
}
.plex {
  cursor: pointer;
  font-weight: 100;
  margin-top: 30px;
  gap: 40px;
  display: flex;
  align-items: center;
}
.plex h4 {
  font-weight: 300;
}
.plext h4 {
  font-weight: 300;
}
.plext {
  cursor: pointer;
  font-weight: 100;
  margin-top: 30px;
  gap: 140px;
  display: flex;
  align-items: center;
}
.link {
  font-weight: 600;
  color: #0802a3;
}
.lin {
  color: black;
}
.welcome {
  display: none;
}
@media (max-width: 770px) {
  .welcome {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .flexall {
    padding-left: 80px;
  }
}
@media (max-width: 430px) {
  .flexpack {
    width: 100%;
    background-color: #0802a3;
  }
  .welcome {
    display: block;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .flexall {
    padding-left: 0px;
  }
  .formcard {
    width: 425px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  .inpu {
    width: 345px;
  }
  .btnz {
    width: 340px;
  }
  .plext {
    gap: 100px;
  }
  .link {
    font-size: 13px;
  }
}
@media (max-width: 405px) {
  .flexpack {
    width: 100%;
    background-color: #0802a3;
  }
  .welcome {
    display: block;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .flexall {
    padding-left: 0px;
  }
  .formcard {
    width: 399px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  .inpu {
    width: 330px;
  }
  .btnz {
    width: 300px;
  }
  .plext {
    gap: 70px;
  }
  .link {
    font-size: 13px;
  }
}
@media (max-width: 380px) {
  .flexpack {
    width: 100%;
    background-color: #0802a3;
  }
  .welcome {
    display: block;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .flexall {
    padding-left: 0px;
  }
  .formcard {
    width: 375px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  .inpu {
    width: 300px;
  }
  .btnz {
    width: 300px;
  }
  .plext {
    gap: 70px;
  }
  .link {
    font-size: 13px;
  }
}
@media (max-width: 325px) {
  .flexpack {
    width: 100%;
    background-color: #0802a3;
  }
  .welcome {
    display: block;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .flexall {
    padding-left: 0px;
  }
  .formheading {
    font-size: 15px;
  }
  .formcard {
    width: 350px;
    padding: 20px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  .inpu {
    width: 280px;
  }
  .btnz {
    width: 280px;
  }
  .plex {
    font-size: 11px;
    gap: 40px;
  }
  .plext h4 {
    font-size: 13px;
  }
  .link {
    font-size: 13px;
  }
}
