* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
.flexall {
  display: flex;
  padding: 20px;
  padding-left: 300px;
  padding-right: 200px;
  justify-content: space-between;
  align-items: center;
}
.spa {
  color: red;
}
.err {
  color: red;
  height: 22px;
}
.check {
  margin-top: 70px;
}
.card {
  display: flex;
  flex-direction: column;
}
.formheading {
  margin-bottom: 5px;
}
.formcard {
  border-radius: 10px;
  gap: 10px;
  background-color: white;
  box-shadow: -1px -1px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -1px -1px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px -1px 5px 0px rgba(0, 0, 0, 0.75);
  padding: 40px;
  width: 480px;
  height: 600px;
  margin-bottom: 70px;
}
form label {
  display: flex;
  flex-direction: column;
}
.inpu {
  outline: none;
  border: 1px solid #0802a3;
  width: 400px;
  height: 50px;
}
.btnz {
  cursor: pointer;
  background-color: #0802a3;
  color: white;
  padding: 15px;
  border: none;
  border-radius: 8px;
  font-weight: 800;
  margin-top: 30px;
  width: 400px;
  height: 50px;
}
.back {
  background-color: black;
}
.back img {
  width: 100%;
  height: 60px;
}
.last {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  font-weight: 200;
  font-size: 12px;
  color: white;
  text-align: center;
  background-color: #0802a3;
}
.plex {
  cursor: pointer;
  font-weight: 100;
  margin-top: 30px;
  gap: 40px;
  display: flex;
  align-items: center;
}
.plex h4{
    font-weight: 300;
}
.plext h4{
    font-weight: 300;
}
.plext {
  cursor: pointer;
  font-weight: 100 ;
  margin-top: 30px;
  gap: 140px;
  display: flex;
  align-items: center;
}
.link {
    font-weight: 600;
    color: #0802a3;
}
.lin{
    color: black;
}