* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
.flex {
  display: flex;
  padding: 20px;
  padding-left: 300px;
  padding-right: 200px;
  justify-content: space-between;
  align-items: center;
}
.spa {
  color: red;
}
.err {
  color: red;
  height: 22px;
}
.card {
  display: flex;
  flex-direction: column;
}
.form_heading {
  margin-bottom: 5px;
}
form {
  border-radius: 10px;
  gap: 3px;
  background-color: white;
  box-shadow: -1px -1px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -1px -1px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px -1px 5px 0px rgba(0, 0, 0, 0.75);
  padding: 40px;
  width: 480px;
  height: 690px;
}
form label {
  display: flex;
  flex-direction: column;
}
input {
  outline: none;
  border: 1px solid #ffcd4b;
  width: 400px;
  height: 50px;
}
.btns {
  cursor: pointer;
  background-color: #ffcd4b;
  padding: 15px;
  border: none;
  border-radius: 8px;
  font-weight: 800;
  margin-top: 10px;
  width: 400px;
  height: 50px;
}
.btnss {
  cursor: pointer;
  border: 1px solid #ffcd4b;
  padding: 15px;
  background-color: transparent;
  font-weight: 800;
  margin-top: 10px;
  width: 400px;
  height: 50px;
}
