* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100vh;
}
.flex {
  display: flex;
  padding: 20px;
  padding-left: 300px;
  padding-right: 200px;
  justify-content: space-between;
  align-items: center;
}
.spa {
  color: red;
}
.err {
  color: red;
  height: 35px;
}
.card {
  display: flex;
  flex-direction: column;
}
.form_heading {
  margin-bottom: 5px;
}
form {
  border-radius: 10px;
  gap: 3px;
  background-color: white;
  box-shadow: -1px -1px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -1px -1px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px -1px 5px 0px rgba(0, 0, 0, 0.75);
  padding: 40px;
  width: 480px;
  height: 750px;
}
form label {
  display: flex;
  flex-direction: column;
}
input {
  outline: none;
  border: 1px solid #ffcd4b;
  width: 400px;
  height: 50px;
}
.btns {
  cursor: pointer;
  background-color: #ffcd4b;
  padding: 15px;
  border: none;
  border-radius: 8px;
  font-weight: 800;
  margin-top: 10px;
  width: 400px;
  height: 50px;
}
.btnss {
  cursor: pointer;
  border: 1px solid #ffcd4b;
  padding: 15px;
  background-color: transparent;
  font-weight: 800;
  margin-top: 10px;
  width: 400px;
  height: 50px;
}
.back {
  height: 40px;
  background-color: black;
}
.back img {
  width: 100%;
  height: 60px;
}
.last {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  font-weight: 200;
  font-size: 12px;
  color: white;
  text-align: center;
  background-color: #0802a3;
}
.hello {
  display: none;
}
.imag img {
  width: 200px;
}
.imag {
  margin-top: 150px;
}
.center {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  --color: #ffcd4b;
  --animation: 2s ease-in-out infinite;
}
.loader {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  --color: #ffcd4b;
  --animation: 2s ease-in-out infinite;
}

.loader .circle {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 80px;
  height: 80px;
  border: solid 2px #ffcd4b;
  border-radius: 50%;
  margin: 0 25px;
  background-color: transparent;
  animation: circle-keys var(--animation);
}

.loader .circle .dot {
  position: absolute;
  transform: translate(-50%, -50%);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #ffcd4b;
  animation: dot-keys var(--animation);
}

.loader .circle .outline {
  position: absolute;
  transform: translate(-50%, -50%);
  width: 35px;
  height: 35px;
  border-radius: 50%;
  animation: outline-keys var(--animation);
}

.circle:nth-child(2) {
  animation-delay: 0.3s;
}

.circle:nth-child(3) {
  animation-delay: 0.6s;
}

.circle:nth-child(4) {
  animation-delay: 0.9s;
}

.circle:nth-child(5) {
  animation-delay: 1.2s;
}

.circle:nth-child(2) .dot {
  animation-delay: 0.3s;
}

.circle:nth-child(3) .dot {
  animation-delay: 0.6s;
}

.circle:nth-child(4) .dot {
  animation-delay: 0.9s;
}

.circle:nth-child(5) .dot {
  animation-delay: 1.2s;
}

.circle:nth-child(1) .outline {
  animation-delay: 0.9s;
}

.circle:nth-child(2) .outline {
  animation-delay: 1.2s;
}

.circle:nth-child(3) .outline {
  animation-delay: 1.5s;
}

.circle:nth-child(4) .outline {
  animation-delay: 1.8s;
}

.circle:nth-child(5) .outline {
  animation-delay: 2.1s;
}

@keyframes circle-keys {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  50% {
    transform: scale(1.5);
    opacity: 0.5;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes dot-keys {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes outline-keys {
  0% {
    transform: scale(0);
    outline: solid 20px #ffcd4b;
    outline-offset: 0;
    opacity: 1;
  }

  100% {
    transform: scale(1);
    outline: solid 0 transparent;
    outline-offset: 20px;
    opacity: 0;
  }
}
@media (max-width: 770px) {
  .flex {
    padding-left: 100px;
  }

  .image img {
    width: 150px;
  }
  input {
    gap: 10px;
    width: 300px;
    height: 35px;
  }
  form {
    width: 400px;
    height: 680px;
  }
  .btns {
    width: 300px;
  }
  .btnss {
    width: 300px;
  }
}
@media (max-width: 430px) {
  body {
    height: 100vh;
  }
  .hello {
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .flex {
    padding-left: 20px;
  }
  .all {
    background-color: #ffcd4b;
  }
  .image {
    display: none;
  }
  .image img {
    width: 150px;
  }
  input {
    gap: 10px;
    width: 300px;
    height: 35px;
  }
  form {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    width: 400px;
    height: 650px;
  }
  .btns {
    width: 300px;
  }
  .btnss {
    display: none;
  }
  .back {
    display: none;
  }
  .last {
    display: none;
  }
  .loader {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    --color: #ffcd4b;
    --animation: 2s ease-in-out infinite;
  }

  .loader .circle {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 40px;
    height: 40px;
    border: solid 2px #ffcd4b;
    border-radius: 50%;
    margin: 0 25px;
    background-color: transparent;
    animation: circle-keys var(--animation);
  }

  .loader .circle .dot {
    position: absolute;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #ffcd4b;
    animation: dot-keys var(--animation);
  }

  .loader .circle .outline {
    position: absolute;
    transform: translate(-50%, -50%);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    animation: outline-keys var(--animation);
  }

  .circle:nth-child(2) {
    animation-delay: 0.3s;
  }

  .circle:nth-child(3) {
    animation-delay: 0.6s;
  }

  .circle:nth-child(4) {
    animation-delay: 0.9s;
  }

  .circle:nth-child(5) {
    animation-delay: 1.2s;
  }

  .circle:nth-child(2) .dot {
    animation-delay: 0.3s;
  }

  .circle:nth-child(3) .dot {
    animation-delay: 0.6s;
  }

  .circle:nth-child(4) .dot {
    animation-delay: 0.9s;
  }

  .circle:nth-child(5) .dot {
    animation-delay: 1.2s;
  }

  .circle:nth-child(1) .outline {
    animation-delay: 0.9s;
  }

  .circle:nth-child(2) .outline {
    animation-delay: 1.2s;
  }

  .circle:nth-child(3) .outline {
    animation-delay: 1.5s;
  }

  .circle:nth-child(4) .outline {
    animation-delay: 1.8s;
  }

  .circle:nth-child(5) .outline {
    animation-delay: 2.1s;
  }

  @keyframes circle-keys {
    0% {
      transform: scale(1);
      opacity: 1;
    }

    50% {
      transform: scale(1.5);
      opacity: 0.5;
    }

    100% {
      transform: scale(1);
      opacity: 1;
    }
  }

  @keyframes dot-keys {
    0% {
      transform: scale(1);
    }

    50% {
      transform: scale(0);
    }

    100% {
      transform: scale(1);
    }
  }

  @keyframes outline-keys {
    0% {
      transform: scale(0);
      outline: solid 20px #ffcd4b;
      outline-offset: 0;
      opacity: 1;
    }

    100% {
      transform: scale(1);
      outline: solid 0 transparent;
      outline-offset: 20px;
      opacity: 0;
    }
  }
}
@media (max-width: 405px) {
  body {
    height: 100vh;
  }
  .hello {
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .flex {
    padding-left: 20px;
  }
  .all {
    background-color: #ffcd4b;
  }
  .image {
    display: none;
  }
  .image img {
    width: 150px;
  }
  input {
    gap: 10px;
    width: 300px;
    height: 35px;
  }
  form {
    padding-left: 20px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    width: 400px;
    height: 650px;
  }
  .btns {
    width: 300px;
  }
  .btnss {
    display: none;
  }
  .back {
    display: none;
  }
  .last {
    display: none;
  }
  .loader {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    --color: #ffcd4b;
    --animation: 2s ease-in-out infinite;
  }

  .loader .circle {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 40px;
    height: 40px;
    border: solid 2px #ffcd4b;
    border-radius: 50%;
    margin: 0 25px;
    background-color: transparent;
    animation: circle-keys var(--animation);
  }

  .loader .circle .dot {
    position: absolute;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #ffcd4b;
    animation: dot-keys var(--animation);
  }

  .loader .circle .outline {
    position: absolute;
    transform: translate(-50%, -50%);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    animation: outline-keys var(--animation);
  }

  .circle:nth-child(2) {
    animation-delay: 0.3s;
  }

  .circle:nth-child(3) {
    animation-delay: 0.6s;
  }

  .circle:nth-child(4) {
    animation-delay: 0.9s;
  }

  .circle:nth-child(5) {
    animation-delay: 1.2s;
  }

  .circle:nth-child(2) .dot {
    animation-delay: 0.3s;
  }

  .circle:nth-child(3) .dot {
    animation-delay: 0.6s;
  }

  .circle:nth-child(4) .dot {
    animation-delay: 0.9s;
  }

  .circle:nth-child(5) .dot {
    animation-delay: 1.2s;
  }

  .circle:nth-child(1) .outline {
    animation-delay: 0.9s;
  }

  .circle:nth-child(2) .outline {
    animation-delay: 1.2s;
  }

  .circle:nth-child(3) .outline {
    animation-delay: 1.5s;
  }

  .circle:nth-child(4) .outline {
    animation-delay: 1.8s;
  }

  .circle:nth-child(5) .outline {
    animation-delay: 2.1s;
  }

  @keyframes circle-keys {
    0% {
      transform: scale(1);
      opacity: 1;
    }

    50% {
      transform: scale(1.5);
      opacity: 0.5;
    }

    100% {
      transform: scale(1);
      opacity: 1;
    }
  }

  @keyframes dot-keys {
    0% {
      transform: scale(1);
    }

    50% {
      transform: scale(0);
    }

    100% {
      transform: scale(1);
    }
  }

  @keyframes outline-keys {
    0% {
      transform: scale(0);
      outline: solid 20px #ffcd4b;
      outline-offset: 0;
      opacity: 1;
    }

    100% {
      transform: scale(1);
      outline: solid 0 transparent;
      outline-offset: 20px;
      opacity: 0;
    }
  }
}
@media (max-width: 380px) {
  body {
    height: 100vh;
  }
  .all {
    background-color: #ffcd4b;
  }
  .flex {
    padding-left: 8px;
  }
  .image img {
    width: 150px;
  }
  input {
    gap: 10px;
    width: 300px;
    height: 35px;
  }
  form {
    margin-top: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    width: 375px;
    height: 650px;
  }
  .btns {
    width: 300px;
  }
  .btnss {
    display: none;
  }
  .back {
    display: none;
  }
  .last {
    display: none;
  }
  .loader {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    --color: #ffcd4b;
    --animation: 2s ease-in-out infinite;
  }

  .loader .circle {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 40px;
    height: 40px;
    border: solid 2px #ffcd4b;
    border-radius: 50%;
    margin: 0 25px;
    background-color: transparent;
    animation: circle-keys var(--animation);
  }

  .loader .circle .dot {
    position: absolute;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #ffcd4b;
    animation: dot-keys var(--animation);
  }

  .loader .circle .outline {
    position: absolute;
    transform: translate(-50%, -50%);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    animation: outline-keys var(--animation);
  }

  .circle:nth-child(2) {
    animation-delay: 0.3s;
  }

  .circle:nth-child(3) {
    animation-delay: 0.6s;
  }

  .circle:nth-child(4) {
    animation-delay: 0.9s;
  }

  .circle:nth-child(5) {
    animation-delay: 1.2s;
  }

  .circle:nth-child(2) .dot {
    animation-delay: 0.3s;
  }

  .circle:nth-child(3) .dot {
    animation-delay: 0.6s;
  }

  .circle:nth-child(4) .dot {
    animation-delay: 0.9s;
  }

  .circle:nth-child(5) .dot {
    animation-delay: 1.2s;
  }

  .circle:nth-child(1) .outline {
    animation-delay: 0.9s;
  }

  .circle:nth-child(2) .outline {
    animation-delay: 1.2s;
  }

  .circle:nth-child(3) .outline {
    animation-delay: 1.5s;
  }

  .circle:nth-child(4) .outline {
    animation-delay: 1.8s;
  }

  .circle:nth-child(5) .outline {
    animation-delay: 2.1s;
  }

  @keyframes circle-keys {
    0% {
      transform: scale(1);
      opacity: 1;
    }

    50% {
      transform: scale(1.5);
      opacity: 0.5;
    }

    100% {
      transform: scale(1);
      opacity: 1;
    }
  }

  @keyframes dot-keys {
    0% {
      transform: scale(1);
    }

    50% {
      transform: scale(0);
    }

    100% {
      transform: scale(1);
    }
  }

  @keyframes outline-keys {
    0% {
      transform: scale(0);
      outline: solid 20px #ffcd4b;
      outline-offset: 0;
      opacity: 1;
    }

    100% {
      transform: scale(1);
      outline: solid 0 transparent;
      outline-offset: 20px;
      opacity: 0;
    }
  }
}
@media (max-width: 367px) {
  body {
    height: 100vh;
  }
  .all {
    background-color: #ffcd4b;
  }
  .flex {
    padding-left: 10px;
  }
  .image img {
    width: 150px;
  }
  input {
    gap: 10px;
    width: 300px;
    height: 35px;
  }
  form {
    margin-top: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    width: 345px;
    height: 650px;
  }
  .btns {
    width: 300px;
  }
  .btnss {
    display: none;
  }
  .back {
    display: none;
  }
  .last {
    display: none;
  }
  .loader {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    --color: #ffcd4b;
    --animation: 2s ease-in-out infinite;
  }

  .loader .circle {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 40px;
    height: 40px;
    border: solid 2px #ffcd4b;
    border-radius: 50%;
    margin: 0 25px;
    background-color: transparent;
    animation: circle-keys var(--animation);
  }

  .loader .circle .dot {
    position: absolute;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #ffcd4b;
    animation: dot-keys var(--animation);
  }

  .loader .circle .outline {
    position: absolute;
    transform: translate(-50%, -50%);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    animation: outline-keys var(--animation);
  }

  .circle:nth-child(2) {
    animation-delay: 0.3s;
  }

  .circle:nth-child(3) {
    animation-delay: 0.6s;
  }

  .circle:nth-child(4) {
    animation-delay: 0.9s;
  }

  .circle:nth-child(5) {
    animation-delay: 1.2s;
  }

  .circle:nth-child(2) .dot {
    animation-delay: 0.3s;
  }

  .circle:nth-child(3) .dot {
    animation-delay: 0.6s;
  }

  .circle:nth-child(4) .dot {
    animation-delay: 0.9s;
  }

  .circle:nth-child(5) .dot {
    animation-delay: 1.2s;
  }

  .circle:nth-child(1) .outline {
    animation-delay: 0.9s;
  }

  .circle:nth-child(2) .outline {
    animation-delay: 1.2s;
  }

  .circle:nth-child(3) .outline {
    animation-delay: 1.5s;
  }

  .circle:nth-child(4) .outline {
    animation-delay: 1.8s;
  }

  .circle:nth-child(5) .outline {
    animation-delay: 2.1s;
  }

  @keyframes circle-keys {
    0% {
      transform: scale(1);
      opacity: 1;
    }

    50% {
      transform: scale(1.5);
      opacity: 0.5;
    }

    100% {
      transform: scale(1);
      opacity: 1;
    }
  }

  @keyframes dot-keys {
    0% {
      transform: scale(1);
    }

    50% {
      transform: scale(0);
    }

    100% {
      transform: scale(1);
    }
  }

  @keyframes outline-keys {
    0% {
      transform: scale(0);
      outline: solid 20px #ffcd4b;
      outline-offset: 0;
      opacity: 1;
    }

    100% {
      transform: scale(1);
      outline: solid 0 transparent;
      outline-offset: 20px;
      opacity: 0;
    }
  }
}
@media (max-width: 325px) {
  body {
    height: 100vh;
  }
  .all {
    background-color: #ffcd4b;
  }
  .flex {
    padding-left: 0px;
  }
  .image img {
    width: 150px;
  }
  input {
    gap: 10px;
    width: 260px;
    height: 35px;
  }
  form {
    padding: 30px;
    margin-top: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    width: 320px;
    height: 650px;
  }
  .btns {
    width: 260px;
  }
  .err {
    font-size: 13px;
  }
  .btnss {
    display: none;
  }
  .back {
    display: none;
  }
  .last {
    display: none;
  }
  .loader {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    --color: #ffcd4b;
    --animation: 2s ease-in-out infinite;
  }

  .loader .circle {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 40px;
    height: 40px;
    border: solid 2px #ffcd4b;
    border-radius: 50%;
    margin: 0 25px;
    background-color: transparent;
    animation: circle-keys var(--animation);
  }

  .loader .circle .dot {
    position: absolute;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #ffcd4b;
    animation: dot-keys var(--animation);
  }

  .loader .circle .outline {
    position: absolute;
    transform: translate(-50%, -50%);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    animation: outline-keys var(--animation);
  }

  .circle:nth-child(2) {
    animation-delay: 0.3s;
  }

  .circle:nth-child(3) {
    animation-delay: 0.6s;
  }

  .circle:nth-child(4) {
    animation-delay: 0.9s;
  }

  .circle:nth-child(5) {
    animation-delay: 1.2s;
  }

  .circle:nth-child(2) .dot {
    animation-delay: 0.3s;
  }

  .circle:nth-child(3) .dot {
    animation-delay: 0.6s;
  }

  .circle:nth-child(4) .dot {
    animation-delay: 0.9s;
  }

  .circle:nth-child(5) .dot {
    animation-delay: 1.2s;
  }

  .circle:nth-child(1) .outline {
    animation-delay: 0.9s;
  }

  .circle:nth-child(2) .outline {
    animation-delay: 1.2s;
  }

  .circle:nth-child(3) .outline {
    animation-delay: 1.5s;
  }

  .circle:nth-child(4) .outline {
    animation-delay: 1.8s;
  }

  .circle:nth-child(5) .outline {
    animation-delay: 2.1s;
  }

  @keyframes circle-keys {
    0% {
      transform: scale(1);
      opacity: 1;
    }

    50% {
      transform: scale(1.5);
      opacity: 0.5;
    }

    100% {
      transform: scale(1);
      opacity: 1;
    }
  }

  @keyframes dot-keys {
    0% {
      transform: scale(1);
    }

    50% {
      transform: scale(0);
    }

    100% {
      transform: scale(1);
    }
  }

  @keyframes outline-keys {
    0% {
      transform: scale(0);
      outline: solid 20px #ffcd4b;
      outline-offset: 0;
      opacity: 1;
    }

    100% {
      transform: scale(1);
      outline: solid 0 transparent;
      outline-offset: 20px;
      opacity: 0;
    }
  }
}
